p{
    background-color: pink;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;


}

h1{
border-bottom: 5px solid red;
font-size: 16px;


}

links:hover{

color: pink;
align-self: hover;

}
a:hover{
    background-color: black;
}

figure{
    border: 1px #cccccc solid;
    padding: 4px;
    margin: auto;
}

figcap{
    background-color: black;
    color: pink;
    font-family: cursive;
    padding: 2px;
    text-align: center;
}